body{
    background-color: #181818;
    color: #E0E0E0;
}


h1, h2, h3 {
    color: #00FFF6;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden; 
    margin-right: 0;
}

.container_sidebar {
    width: 20%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #f4f4f4; 
}

.container_principal_home {
    width: 100%;
    margin-left: 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.content_scroll {
    flex: 1; 
    overflow-y: auto; 
    scrollbar-color: #FF007A #1E1E2E;
}