 body{
    background-color: #F2EDD0;
    color: #E0E0E0;  
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.content_scroll {
    flex: 1; 
    overflow-y: auto; 
    scrollbar-color: #00FF7F #1E1E2E;
} 

img:hover {
    transform: scale(1.05);
    transition: 0.6s;
}

button{ 
    all: unset;
    text-decoration: underline;
 }